body {
  background-color: yellow;
}
header {
  background-color: black;
  position: fixed;
  width: 100vw;
  z-index: 2;
}
.listLinks {
  display: inline;
}
.background {
  width: 100vw;
  height: 100vw;
  margin-left: -10px;
}
.mainBox {
  margin-top: -1400px;
  text-align: center;
  background-color: gray;
  border-radius: 10px solid;
  position: relative;
  opacity: 0.9;
  width: 500px;
  height: 350px;
  border-radius: 10px;
}
.mainBoxText{
  color: white;
}
